@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --dark-blue: #171923;
  --light-grey: #9ca0b0;
  /* Measurements */
  --desktop-nav: 120px;
}

body {
  font-family: "Montserrat";
}

/* Util Classes */
/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}
/* Fonts */
.heading-text {
  font-size: 60px;
  line-height: 60px;
}
.subheading-text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
}
.cta-btn {
  font-size: 20px;
}
.nav-link {
  font-size: 16px;
}

/* Displays */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CTA btn */
.cta-btn-lg {
  padding: 1.5rem 2rem;
  width: 275px;
  font-size: 20px;
  border-radius: 15px;
}
.cta-btn-md {
  padding: 1rem;
  width: 170px;
  max-width: 200px;
  font-size: 16px;
  border-radius: 10px;
}
